$black: #222;

@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700);

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Alegreya', serif;
    color: $black;
    height: 100%;
}

h1, h2, h3, p {
    margin: 0;
}

#app, .wrapper {
    height: 100%;
    background-color: #abcdf2;
}

.title {
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.main {
    // Subtract height of title and footer.
    height: calc(100% - 80px);
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: {
        left: 20px solid transparent;
        right: 20px solid transparent;
    }
    display: flex;
    flex-flow: column wrap;
}

// Class also applies to form component.
.container {
    background-color: #fff;
    border: 2px solid black;    
}

.form {
    // Subtract margins from dimensions.
    height: calc(30% - 20px);
    width: calc(70% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    input {
        margin: 10px;
    }
}

.map {
    // Subtract margins from dimensions.
    height: calc(40% - 20px);
    width: calc(70% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;

    &__googlemap {
        height: 200px;
        width: 200px;
    }
}

.details {
    height: 30%;
    width: calc(70% - 20px);
    margin-right: 20px;
}

.list {
    height: 100%;
    width: 30%;
}
.footer {
    text-align: center;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.footer a {
    color: #444;
}