$black: #222;

@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700);

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Alegreya', serif;
    color: $black;
    height: 100%;
}

h1, h2, h3, p {
    margin: 0;
}

#app, .wrapper {
    height: 100%;
}

.title {
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.main {
    height: calc(100% - 80px);
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: {
        left: 20px solid transparent;
        right: 20px solid transparent;
    }
    display: flex;
    flex-flow: column wrap;
    div {
        border: 2px solid black;
    }
}

.map {
    height: calc(60% - 20px);
    width: calc(70% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.details {
    height: 40%;
    width: calc(70% - 20px);
    margin-right: 20px;
}

.list {
    height: 100%;
    width: 30%;
}
.footer {
    text-align: center;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.footer a {
    color: #444;
}